---
layout: default
title: Home
background: '/assets/uploads/bg/mydesktop.jpg'
---
<header>
  <h1>developerro</h1>
  <small>cuando en mi máquina tampoco funciona...</small>
</header>

<main id="portfolio">
  <ul>
    {% for post in site.posts limit:5 %}
    <li>
      <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
        {% if post.background %}
        <img src="{{ post.background | prepend: site.baseurl | replace: '//', '/' }}" alt="Ilustración que queda bonita en el layout del portfolio" />
        {% endif %}

        <article>
          <h2>{{ post.title }}</h2>

          <small>
            {{ post.date | date_to_string }} {% if post.time_to_read %}&middot; {{ post.time_to_read }} min. de lectura {% endif %}
          </small>

          <p>
            {% if post.subtitle %}
              {{ post.subtitle }}
            {% else %}
              {% if forloop.index == 1 %}
                {{ post.content | strip_html | truncatewords: 60 }}
              {% else %}
                {{ post.content | split:'<!--break-->' | first | strip_html | truncatewords: 20  }}
              {% endif %}
            {% endif %}
          </p>
        </article>
      </a>
    </li>
    {% if forloop.index == 3 %}
    <li class="about-me">
      <a href="/about">
        <img src="/assets/uploads/fernandoescolar400x400.jpg" class="avatar" alt="Foto de Fernando Escolar" />
        <h2>sobre mí</h2>
        <p>
          <i class="fa fa-heart" title="Me gusta"></i> Estrella Galicia<br>
          <i class="fa fa-thumbs-down" title="No me gusta"></i> Verdura<br>
          <i class="fa fa-tint" title="Mi color preferido"></i> Naranja<br>
          <i class="fa fa-gamepad" title="Mi videojuego preferido"></i> Super Mario Bros. 3<br>
          <i class="fa fa-briefcase" title="Trabajo en"></i> SCRM Lidl International Hub<br>
        </p>
      </a>
    </li>
    {% endif %}
    {% endfor %}
    <li class="tags">
      {% for t in site.tags_weight %}
        {% if t.count > 0 %}
        <a href="/tags#{{ t.tag }}"
           style="font-size: {{ t.count | times: 4 | plus: 100  }}%">
                {{ t.tag | replace:'-', ' ' }}
        </a>
        {% endif %}
      {% endfor %}
    </li>
    <li class="subscribe">
      <h2>Suscríbete</h2>
      <p>
        Recibe los artículos nuevos en tu cuenta de correo <b>¡Suscríbete!</b>:
      </p>
      <form id="subscribe" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow">
        <fieldset>
          <input type="text" name="email" placeholder="you@domain.com" />
          <button type="submit">Subscribirse</button>
        </fieldset>
        <input type="hidden" value="Developerro" name="uri" />
        <input type="hidden" name="loc" value="es_ES" />
      </form>
      <p></p>
    </li>
  </ul>
</main>
