<style>
.buymeacoffee a {
    background-color: #ac4142;
    color: white !important;
    font-size: 40px;
    height: 55px;
    border: 0;
    border-radius: 10px !important;
    padding: 1px 12px;
    display: inline-block;
    line-height: 74px;
    text-decoration: none;
}
.buymeacoffee img {
    display: inline;
}
</style>
<a href="https://www.buymeacoffee.com/fernandoescolar" rel="nofollow" target="_blank" class="buymeacoffee" title="Share on Google+">
  <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee" />
  Buy me a coffee
</a>