<script>
    // Override document.cookie
    const cookies = {}

    Object.defineProperty(document, 'cookie', {
        get: function () {
            const allCookies = []
            for (const [key, value] of Object.entries(cookies)) {
                allCookies.push(`${key}=${value}`)
            }

            return allCookies.join('; ')
        },
        set: function (value) {
            const cookieParts = value.split('=')
            const cookieName = cookieParts.shift()
            const cookieValue = cookieParts.join('=')

            cookies[cookieName] = cookieValue
            return value
        }
    })
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XV0V8ER7H1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-XV0V8ER7H1');
</script>