* {
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
}

body {
    font-size: 18px;
    font-weight: 400;
    color: rgb(33, 37, 41);
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
}


img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}


body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

a {
    color: #ac4142;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h2, h3, h4, h5, h6 {
    margin-top: 1rem;
}

div.highlight {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

code {
    padding: .25em 0.25em;
    font-size: 92%;
    color: #bf616a;
    background-color: #f9f9f9;
}

pre code {
    color: inherit;
    background-color: transparent;
}

pre {
    margin-bottom: 0;
}

small {
    color: #9a9a9a;
    font-size: 16px;
    line-height: 1.5;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    background-color: #f9f9f9;
    border-left: .25rem solid #e5e5e5;
    quotes: "\201C""\201D""\2018""\2019";
    text-align: left;

    &:before {
        position: absolute;
        color: #e5e5e5;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
        font-family: Arial;
        margin-top: 12px;
        margin-left: -16px;
    }

    p {
        display: inline;
    }
}

input {
    background-color: #ebefe9;
    border: 0;
    padding: 8px 18px;
    margin: 0;
    font-size: 20px;
    color: #212529;
    &:focus {
        border: 0;
        box-shadow: none;
        outline: none;
    }
}

button {
    color: #fff;
    background-color: #bf616a;
    border: 0;
    padding: 8px 18px;
    text-align: center;
    font-size: 20px;

    &:focus {
        border: 0;
        box-shadow: none;
        outline: none;
    }
    &:active {
        margin-left: 2px;
    }
}

article, main, header h1, header small, section {
    width: calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

@media (min-width: 992px) {
    article, main, header h1, header small, section {
        width: 950px;
        padding: 0;
    }
}

@media (min-width: 1242px) {
    article, main, header h1, header small, section {
        width: 1200px;
        padding: 0;
    }
}