#cookie-notice {
    font-size: 1em;
    padding: 2rem 2rem;
    display: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: #3e3e3e;
    color: rgba(255,255,255,0.8);
    opacity: 0.95;

    a {
        display: block;
        width: 5em;
        margin: 1em auto;
        padding: .35rem .7rem;
        font-weight: 700;
        color: rgba(255,255,255,.75);
        cursor: pointer;
        text-decoration: none;
        border: 0;
        background-color: #ac4142;
    }
}
