#cookie-notice {
    font-size: 14px;
    padding: 0.2rem 1rem;
    display: none;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: #3e3e3e;
    color: rgba(255,255,255,0.8);
    opacity: 0.95;

    a {
        display: inline-block;
        margin-left: 0.5rem;
        padding: .35rem .7rem;
        font-weight: 700;
        color: rgba(255,255,255,.75);
        cursor: pointer;
        text-decoration: none;
        border: 0;
        background-color: #ac4142;
    }
}
