footer {
    text-align: center;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;

    ul {
        list-style: none;
        padding: 0px;

        li {
            display: inline-block;
            background-color: #212529;;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            font-size: 35px;
            margin: 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

            a {
                color: #fff;

                i {
                    position: relative;
                }

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }

            &:hover {
                background-color: #ac4142;
            }
        }
    }
}