footer {
    text-align: center;
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-top: 4px solid var(--border-color);
    background-color: var(--footer-background-color);

    ul {
        list-style: none;
        padding: 0px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

        li {
            flex-basis: 20%;
            display: inline-block;
            background-color: var(--footer-button-background-color);
            width: 48px;
            height: 48px;
            border-radius: 0.5em;
            font-size: 35px;
            border: 4px solid var(--footer-button-background-color);
            margin: 5px;

            a {
                color: var(--footer-button-text-color);

                i {
                    position: relative;
                }

                &:hover {
                    color: var(--footer-button-hover-text-color);
                    text-decoration: none;
                }
            }

            &:hover {
                background-color: var(--footer-button-hover-background-color);
                border-color: var(--footer-button-hover-background-color);
            }
        }
    }
    a {
        img {
            margin-top: 2em;
        }
    }
    span {
        display: block;
        font-size: 12px;
        color: var(--accent-color);
    }
}

@media screen and (min-width: 768px) {
    footer {
        ul {
            display: inline;
            li {

            }
        }
        a {
            img {
                margin-top: 1em;
            }
        }
    }
}