main {
    &#portfolio {
        padding: 0;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                display: inline-block;
                list-style: none;
                width: 100%;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                margin: 20px 20px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                cursor: pointer;

                &:hover {
                    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
                    margin-top: 10px;
                    margin-bottom: 30px;
                }

                img {
                    display: inline-block;

                    &.avatar {
                        border-radius: 50%;
                        width: 200px;
                        margin-top: 12px;
                        display: block;
                        align-self: center;
                    }
                }

                h2 {
                    padding: 0 12px;
                    margin-bottom: 0;
                    color: rgb(33, 37, 41);
                    display: inline-block;
                }

                small {
                    padding: 0 12px;
                    display: inline-block;
                }

                p {
                    margin-top: 15px;
                    padding: 0 12px;
                    color: rgb(33, 37, 41);
                    display: inline-block;
                }

                article {
                    width: 100%;
                }

                &.tags {
                    display: block;
                    padding: 20px;
                    text-align: center;
                    cursor: default;

                    a {
                        margin-right: 20px;
                    }
                }

                &.about-me {
                    h2 {
                        margin-top: 43px;
                        text-align: center;
                        width: 100%;
                    }

                    p {
                        margin-top: 15px;
                        font-style: italic;
                        color: rgb(83, 87, 81);
                        text-align: left;

                        i {
                            width: 24px;
                        }
                    }
                }

                &.subscribe {
                    cursor: default;

                    fieldset {
                        border: 0;
                        padding: 0 12px;

                        input {
                            width: 100%;
                        }

                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        &#portfolio {
            ul {
                li {
                    width: calc((100% / 3) - 60px);
                    display: flex;

                    &:first-child {
                        width: calc(((100% / 3) - 60px) * 2 + 40px);

                        a {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: 100%;

                            img {
                                width: 50%;
                                margin: 0;
                                object-fit: cover;
                                height: 100%;
                            }

                            article {
                                width: 50%;
                                margin: 0;
                            }
                        }
                    }

                    &.tags {
                        width: calc(((100% / 3) - 60px) * 2 + 40px);
                    }

                    &.subscribe {
                        width: calc(100% - 100px);

                        fieldset {
                            input {
                                width: 60%;
                            }
                            button {
                                width: 140px;
                            }
                        }
                    }

                    &.oss {
                        width: 100%;
                        a {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: 100%;

                            img {
                                width: 50%;
                                margin: 0;
                                object-fit: cover;
                                height: 100%;
                            }

                            article {
                                width: 50%;
                                margin: 0;

                                h2 {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}