main {

    &#portfolio,
    &#videos {
        padding: 0;

        a:hover {
            text-decoration: none;
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            li {
                display: inline-block;
                list-style: none;
                width: 100%;
                background-color: var(--box-background-color);
                background-image: linear-gradient(160deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
                transition:
                    border-color 0.25s ease,
                    box-shadow 0.25s ease,
                    background-image 0.25s ease,
                    background-position 0.8s ease;
                margin: 20px 20px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                position: relative;
                cursor: pointer;
                border-radius: 0.5em;

                &::before {
                    content: '';
                    border-radius: 0.5em;
                    background-image: linear-gradient(120deg, var(--accent-color) 0%, var(--accent-color-light) 50%, var(--accent-color) 100%);
                    background-size: 200% 200%;
                    top: -1px;
                    left: -1px;
                    bottom: -1px;
                    right: -1px;
                    position: absolute;
                    z-index: -1;
                    transition: background-position 1s ease;
                }

                &:hover {
                        // border-color: transparent;
                        // box-shadow:
                        //     0 0 0 1px rgba(34, 211, 238, 0.55),
                        //     0 0 0 3px rgba(139, 92, 246, 0.28),
                        //     0 16px 40px -20px rgba(0, 0, 0, 0.55);
                        background-image: linear-gradient(160deg, rgba(34, 211, 238, 0.08), rgba(139, 92, 246, 0.08));

                        &::before {
                            background-position: 100% 0;
                             top: -2px;
                            left: -2px;
                            bottom: -2px;
                            right: -2px;
                        }
                }

                i.category {
                    // float: left;
                    // position: absolute;
                    // left: 10px;
                    // top: 10px;
                    color: var(--box-icon-color);
                    font-size: 16px;

                    &:hover {
                        text-decoration: none;
                        color: var(--box-icon-color);
                    }
                }

                img {
                    display: inline-block;
                    border-radius: 0.5em 0.5em 0 0;

                    &.avatar {
                        border-radius: 50%;
                        width: 200px;
                        margin-top: 12px;
                        display: block;
                        align-self: center;
                    }
                }

                h2 {
                    padding: 0 12px;
                    margin-bottom: 0;
                    color: var(--box-text-color);
                    display: inline-block;
                }

                small {
                    padding: 0 12px;
                    display: inline-block;
                }

                p {
                    margin-top: 15px;
                    padding: 0 12px;
                    color: var(--box-text-color);
                    display: inline-block;
                }

                article {
                    width: 100%;
                    padding: 1rem;
                }

                &.tags {
                    display: block;
                    padding: 1.5rem;
                    text-align: center;
                    cursor: default;
                    background: var(--tag-cloud-background);
                    color: var(--tag-cloud-text-color);
                    border: 1px solid var(--tag-cloud-border-color);
                    box-shadow: var(--tag-cloud-shadow);
                    border-radius: 0.5em;

                    a {
                        margin-right: 20px;
                        color: var(--tag-cloud-text-color);
                        text-shadow: var(--tag-cloud-text-shadow);
                        transition: transform 180ms ease, opacity 180ms ease;

                        &:hover {
                            transform: translateY(-2px);
                            opacity: 0.9;
                            color: var(--accent-color);
                        }
                    }
                }

                &.about-me {
                    padding: 1rem;

                    h2 {
                        margin-top: 43px;
                        text-align: center;
                        width: 100%;
                    }

                    p {
                        margin-top: 15px;
                        padding: 0 12px;
                        font-style: italic;
                        color: var(--box-aboutme-text-color);
                        text-align: left;

                        i {
                            width: 24px;
                        }
                    }
                }

                &.subscribe {
                    cursor: default;
                    padding: 1.5rem;

                    fieldset {
                        border: 0;
                        padding: 0 12px;

                        input {
                            width: 100%;
                        }

                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    main {
        &#videos {
            ul {
                li {
                    width: calc((100% / 3) - 40px);
                    display: flex;
                }
            }
        }

        &#portfolio {
            ul {
                li {
                    width: calc((100% / 3) - 40px);
                    display: flex;

                    &:first-child {
                        width: calc(((100% / 3) - 40px) * 2 + 40px);

                        a {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: 100%;

                            img {
                                width: 50%;
                                margin: 0;
                                object-fit: cover;
                                height: 100%;
                                border-radius: 0.5em 0 0 0.5em;
                            }

                            article {
                                width: 50%;
                                margin: 0;
                            }
                        }
                    }

                    &.tags {
                        width: calc(((100% / 3) - 40px) * 2 + 40px);
                        display: flex;
                        flex-flow: row wrap;
                        align-items: center;
                        justify-content: center;
                    }

                    &.subscribe {
                        width: calc(100% - 40px);

                        fieldset {
                            input {
                                width: 60%;
                            }

                            button {
                                width: 140px;
                            }
                        }
                    }

                    &.oss {
                        width: 100%;

                        a {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: 100%;

                            img {
                                width: 50%;
                                margin: 0;
                                object-fit: cover;
                                height: 100%;
                                border-radius: 0.5em 0 0 0.5em;
                            }

                            article {
                                width: 50%;
                                margin: 0;

                                h2 {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}