nav {
    margin-bottom: 0;
    background: linear-gradient(140deg, var(--nav-background-color) 0%, rgba(255, 255, 255, 0.02) 100%);
    height: 68px;
    backdrop-filter: saturate(160%) blur(18px);
    -webkit-backdrop-filter: saturate(160%) blur(18px);
    position: fixed;
    top: 0px;
    width: 100vw;
    padding: 0 .1em;
    opacity: 0.95;
    transition: all 0.2s ease-out;
    box-shadow: 0 10px 34px -18px var(--shadow-color), 0 1px 0 0 rgba(255, 255, 255, 0.05);
    z-index: 1;

    &.solid {
        opacity: 1;

        a.text {
            opacity: 0;
        }
    }

    a:hover {
        color: var(--logo-color);
        text-decoration: none;
    }

    >a {
        padding: 2px 5px 0 5px;
        float: left;
        font-family: 'Open Sans';
        font-size: 2.4em;
        font-weight: 900;

        &.text {
            transition: all 0.2s ease-out;
            padding-left: 0px;
            opacity: 0;
            letter-spacing: -2px;
            display: none;
            background: var(--accent-gradient);
            background-size: 200% 200%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: hueShift 16s ease-in-out infinite;
        }

        img {
            width: 54px;
            height: 54px;
            margin-left: 5px;
            margin-top: 2px;
        }
    }

    ul {
        list-style: none;
        padding: 24px 0 8px;
        margin-left: -2px;
        margin-right: -2px;
        margin-top: 66px;
        background-color: var(--nav-background-color);
        visibility: hidden;
        opacity: 0;
        transition: all 0.2s ease-out;
        border-bottom: 1px solid var(--border-color);

        li {
            text-align: center;
            margin: 24px auto;

            a {
                color: var(--nav-a-color);
                font-weight: 650;
            }
        }
    }

    #hamburger {
        float: right;
        cursor: pointer;
        font-size: 1.5em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        padding: 0.7em;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;

        &:before {
            content: "\f0c9";
            color: var(--accent-color);
        }
    }

    &.active {
        opacity: 1;

        ul {
            visibility: visible;
            opacity: 1;
        }

        #hamburger {
            &:before {
                content: "\f00d";
            }
        }
    }
}

@media screen and (min-width: 768px) {
    nav {
        padding: 0 1em;

        >a.text {
            opacity: 1;
        }

        ul {
            list-style: none;
            padding: 0.2em;
            opacity: 1;
            visibility: visible;
            margin: 0;
            margin-block-start: 1em;
            margin-block-end: 1em;
            float: right;
            display: block;
            background-color: transparent;
            border-bottom: 0;

            li {
                display: inline;
                padding-right: 1em;

                a {
                    color: var(--nav-a-color);
                }
            }
        }

        #hamburger {
            display: none;
        }
    }
}