section {
    font-size: 20px;

    .left {
        float: left;
    }

    .right {
        float: right;
    }

    &#share{
        border-top: 1px solid var(--border-color);
        text-align: center;


        a {
            color: var(--share-button-text-color);
            background-color: var(--share-button-background-color);
            box-shadow: 0 4px 8px 0 var(--shadow-color);
            padding: 8px 18px;
            display: inline-block;
            text-align: center;
            margin-top: 6px;
            border-radius: 0.5em;
        }
    }

    &#related {
        h2 {
            margin-bottom: 2px;
        }
        ul {
            list-style: none;
            padding: 0;
            li {
                padding-bottom: 8px;
            }
        }
    }

    &#pagination {
        height: 50px;
        margin-bottom: 2em;
        margin-top: 2em;

        a {
            color: var(--pagination-button-text-color);
            background-color: var(--pagination-button-background-color);
            padding: 8px 18px;
            margin-top: -9px;
            width: 140px;
            text-align: center;
            border-radius: 0.5em;
        }
    }
}

@media screen and (min-width: 768px) {
    section {
        &#pagination {
            a {
                margin-top: 0;
            }

            margin-bottom: 6em;
        }

        &#share{
            margin-top: 50px;
            text-align: left;
        }

        &#related {
            margin-top: 50px;
        }
    }
}