body {
  --accent-color: #ac4142;
  --accent-color-light: #bf616a;
  --background-color: #f1f5f9;
  --background-color-light: #fff;
  --background-color-light-alt: #f9f9f9;
  --border-color: rgba(0, 0, 0, 0.1);
  --header-title-color: #fff;
  --header-color-1: rgba(255, 255, 255, 0.95);
  --header-color-2: rgba(172, 65, 66, 0.55);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --text-color: #212529;
  --text-color-light: #717171;
  --watermark-color: rgba(255, 255, 255, 0.4);
}


body.dark-theme {
  --accent-color: #E11D48;
  --accent-color-light: #F43F5E;
  --background-color: #0f172a;
  --background-color-light: #1e293b;
  --background-color-light-alt: #334155;
  --border-color: rgba(255, 255, 255, 0.1);
  --header-title-color: #fff;
  --header-color-1: rgba(15, 23, 42, 0.95);
  --header-color-2: rgba(225, 29, 72, 0.55);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --text-color: #f1f5f9;
  --text-color-light: #94a3b8;
  --watermark-color: rgba(255, 255, 255, 0.1);
  --nav-background-color: rgba(15, 23, 42, 0.7);
}

body {
  --body-text-color: var(--text-color);
  --body-background-color: var(--background-color);
  --body-font-family: 'Inter', sans-serif;

  --code-inline-text-color: var(--accent-color-light);
  --code-inline-background-color: var(--background-color-light-alt);

  --blockquote-text-color: var(--text-color-light);
  --blockquote-background-color: var(--background-color-light-alt);
  --blockquote-border-color: var(--text-color-light);

  --input-text-color: var(--text-color);
  --input-background-color: var(--background-color-light-alt);

  --button-text-color: var(--background-color-light);
  --button-background-color: var(--accent-color-light);

  --cookie-consent-text-color: var(--background-color-light-alt);
  --cookie-consent-background-color: var(--text-color);
  --cookie-consent-button-text-color: var(--background-color-light);
  --cookie-consent-button-background-color: var(--accent-color);

  --message-text-color: var(--text-color-light);
  --message-background-color: var(--background-color-light-alt);

  --footer-background-color: var(--background-color-light);
  --footer-button-text-color: var(--background-color-light);
  --footer-button-background-color: var(--text-color);
  --footer-button-hover-text-color: var(--background-color-light);
  --footer-button-hover-background-color: var(--accent-color);

  --header-title-font-family: 'Inter', sans-serif;
  --header-title-text-color: var(--header-title-color);
  --header-background-color: linear-gradient(to bottom, var(--header-color-1) 0%, var(--header-color-2) 100%);
  --header-background-image: url(/assets/uploads/bg/desktop.jpg) center / cover;

  --box-text-color: var(--text-color);
  --box-background-color: var(--background-color-light);
  --box-icon-color: var(--watermark-color);
  --box-aboutme-text-color: var(--text-color-light);

  --nav-background-color: var(--background-color-light);
  --nav-a-color: var(--text-color);

  --a-color: var(--accent-color);

  --small-color: var(--text-color-light);

  --logo-color: var(--accent-color);

  --share-button-text-color: var(--header-title-color);
  --share-button-background-color: var(--accent-color-light);

  --pagination-button-text-color: var(--header-title-color);
  --pagination-button-background-color: var(--accent-color-light);

  --table-cell-background-color: var(--background-color-light-alt);
  --table-cell-border-color: var(--background-color);
  --table-header-text-color: var(--background-color);
  --table-header-background-color: var(--text-color);
}