---
# Minimify
---
pre.highlight {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

code[class*="language-"],
pre[class*="language-"] {
  background-color: rgb(49, 52, 63);
  color: #dee2f7;
  background: none;
  font-family: monospace, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono';
  font-size: 18px;
  font-weight: 400;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #383e49;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #9aa2b1;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
   background-color: rgb(49, 52, 63);
   color: #dee2f7;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.class-name {
    color: #fdce68;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #5C6370;
}

.token.punctuation {
  color: #abb2bf;
}

.token.selector,
.token.tag {
  color: #e06c75;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name {
  color: #fdce68;
}

.token.deleted {
  color: #f92672
}
.token.string,
.token.char,
.token.attr-value,
.token.builtin {
  color: #a3eea0;
}

.token.inserted {
  color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #56b6c2;
}

.token.atrule,
.token.keyword {
  color: #e19ef5;
}

.token.function {
  color: #80bbfe;
}

.token.regex,
.token.important,
.token.variable {
  color: #c678dd;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
