---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
<script type="text/javascript">
 2     /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
 3     var disqus_shortname = 'fernandoescolar'; // required: replace example with your forum shortname
 4     var disqus_developer = 1; // This turns developer mode on
 5                               // Make sure you remove this before you push this
 6                               // to your live site.
 7 
 8     /* * * DON'T EDIT BELOW THIS LINE * * */
 9     (function() {
10       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
11       dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
12       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
13     })();
14   </script>
15   <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
16   <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
